@import url("https://use.typekit.net/sgb7bmd.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	width: 100%;
}

body {
	font-family: open-sans, sans-serif;
	background-color: #e5e5f7;
	background-image: radial-gradient(#868795 0.5px, transparent 0.5px),
		radial-gradient(#868795 0.5px, #e5e5f7 0.5px);
	background-size: 20px 20px;
	background-position: 0 0, 10px 10px;
}

.logo {
	font-family: permanent-marker-pro, sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}
